
@font-face {
  font-family: 'GothamMedium';
  src: url('GothamMedium.eot?#iefix') format('embedded-opentype'),  url('GothamMedium.woff') format('woff'), url('GothamMedium.ttf')  format('truetype'), url('GothamMedium.svg#GothamMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
